body {
  overflow: hidden;
}

/* global card css overrride */
.v-card {
  border-radius: 24px !important;
}

/* global speed-dial override */
.v-speed-dial--right {
  right: 32px !important;
}

.v-speed-dial--bottom {
  bottom: 32px !important;
}