body {
  overflow: hidden;
}

/* global card css override */
.v-card {
  border-radius: 28px !important;
}

/* global speed-dial override */
.v-speed-dial--right {
  right: 32px !important;
}

.v-speed-dial--bottom {
  bottom: 32px !important;
}

/* global fab button override */
.v-btn--left {
  left: 32px !important;
}

.v-btn--right {
  right: 32px !important;
}

.v-btn--bottom {
  bottom: 32px !important;
}